<TecoConfiguration xmlns="http://www.tecomat.com">
  <Configuration version="2022.2" system="FOXTROT">
    <Device xmlns="http://www.tecomat.com" alias="Central Unit" rack="0" position="0" expanded="true" statLoc="%S100" validStat="A2">
      <Info>
        <ProductCode>1000</ProductCode>
        <ProductName>CP-1000</ProductName>
        <VendorID>00000000</VendorID>
        <DeviceGroup>CPU</DeviceGroup>
        <Descriptor>1000_CP-1000.tdd</Descriptor>
      </Info>
      <Objects>
        <Data/>
        <Tags xmlns="http://www.tecomat.com"/>
      </Objects>
      <SerialChannels expandable="3">
        <Channel xmlns="http://www.tecomat.com" Mode="UNI" Alias="General channel" enabled="true" Options="PC PLC UNI MPC MDB PFB" Name="CH1" LAddr="0101" SysMap="CH1" SysMapCode="0101">
          <Info>
            <Descriptor>UNI_SC.tdd</Descriptor>
          </Info>
          <Objects xmlns="http://www.tecomat.com">
            <Aliases>
              <ObjectAlias name="r{RACK}_p{POSITION}_UNI_{CHANNEL}_IN.DATA" public="false" publicAPI="false" userDef="true">CH1_ZoneIN</ObjectAlias>
              <ObjectAlias name="r{RACK}_p{POSITION}_UNI_{CHANNEL}_OUT.DATA" public="false" publicAPI="false" userDef="true">CH1_ZoneOUT</ObjectAlias>
            </Aliases>
            <Data>
              <ObjectData name="r{RACK}_p{POSITION}_Settings_UNI_{CHANNEL}.BaudRate_FOXTROT">0A000000</ObjectData>
              <ObjectData name="r{RACK}_p{POSITION}_Settings_UNI_{CHANNEL}.TransmitZoneSize">3200</ObjectData>
              <ObjectData name="r{RACK}_p{POSITION}_Table_UNI_{CHANNEL}.speed">0A</ObjectData>
              <ObjectData name="r{RACK}_p{POSITION}_Table_UNI_{CHANNEL}.lendo">3600</ObjectData>
            </Data>
            <Notes>
              <ObjectNote name="r{RACK}_p{POSITION}_Table_UNI_{CHANNEL}">Initialization table of UNI channel mode</ObjectNote>
              <ObjectNote name="r{RACK}_p{POSITION}_Module_UNI_{CHANNEL}">UNI_SC declaration</ObjectNote>
            </Notes>
            <Tags xmlns="http://www.tecomat.com"/>
          </Objects>
          <Interfaces/>
          <Editor/>
          <Network/>
        </Channel>
      </SerialChannels>
      <Ethernets>
        <Ethernet Name="ETH1" LAddr="E1">
          <Channel Options="PC" Name="SOCK0"/>
          <Channel Options="PLC" Name="SOCK1"/>
          <Channel Options="PLCx" Name="SOCK2"/>
          <Channel Options="BAC" Name="SOCK3"/>
          <Channel Options="UNI" Name="SOCK4"/>
          <Channel Options="UNI" Name="SOCK5"/>
          <Channel Options="UNI" Name="SOCK6"/>
          <Channel Options="UNI" Name="SOCK7"/>
          <Channel Options="UNI" Name="SOCK8"/>
          <Channel Options="UNI" Name="SOCK9"/>
          <Channel Options="UNI" Name="SOCK10"/>
          <Channel Options="UNI" Name="SOCK11"/>
        </Ethernet>
      </Ethernets>
      <Piggybacks expanded="true">
        <Piggyback xmlns="http://www.tecomat.com" slot="0" expanded="true">
          <Info>
            <ProductCode>114</ProductCode>
            <ProductName>MR-0114</ProductName>
            <VendorID>00000000</VendorID>
            <DeviceGroup>SC</DeviceGroup>
            <Descriptor>0114_MR-0114.tdd</Descriptor>
          </Info>
          <Objects>
            <Data/>
            <Tags xmlns="http://www.tecomat.com"/>
          </Objects>
          <SerialChannels>
            <Channel xmlns="http://www.tecomat.com" Mode="UNI" Alias="General channel" Options="PC PLC UNI MPC MDB PFB" Name="CH2" LAddr="0102" SysMap="CH2" SysMapCode="0202" enabled="true">
              <Info>
                <Descriptor>UNI_SC.tdd</Descriptor>
              </Info>
              <Objects xmlns="http://www.tecomat.com">
                <Aliases>
                  <ObjectAlias name="r{RACK}_p{POSITION}_UNI_{CHANNEL}_IN.DATA" public="false" publicAPI="false" userDef="true">CH2_ZoneIN</ObjectAlias>
                  <ObjectAlias name="r{RACK}_p{POSITION}_UNI_{CHANNEL}_OUT.DATA" public="false" publicAPI="false" userDef="true">CH2_ZoneOUT</ObjectAlias>
                </Aliases>
                <Data>
                  <ObjectData name="r{RACK}_p{POSITION}_Settings_UNI_{CHANNEL}.BaudRate_FOXTROT">0C000000</ObjectData>
                  <ObjectData name="r{RACK}_p{POSITION}_Settings_UNI_{CHANNEL}.Parity">03</ObjectData>
                  <ObjectData name="r{RACK}_p{POSITION}_Settings_UNI_{CHANNEL}.ReceiveZoneSize">FF00</ObjectData>
                  <ObjectData name="r{RACK}_p{POSITION}_Settings_UNI_{CHANNEL}.TransmitZoneSize">FF00</ObjectData>
                  <ObjectData name="r{RACK}_p{POSITION}_Settings_UNI_{CHANNEL}.ModemControl.RTSControl">C0</ObjectData>
                  <ObjectData name="r{RACK}_p{POSITION}_Table_UNI_{CHANNEL}.speed">0C</ObjectData>
                  <ObjectData name="r{RACK}_p{POSITION}_Table_UNI_{CHANNEL}.lendi">0301</ObjectData>
                  <ObjectData name="r{RACK}_p{POSITION}_Table_UNI_{CHANNEL}.lendo">0301</ObjectData>
                  <ObjectData name="r{RACK}_p{POSITION}_Table_UNI_{CHANNEL}.lnc">18</ObjectData>
                  <ObjectData name="r{RACK}_p{POSITION}_Table_UNI_{CHANNEL}.msc">C0</ObjectData>
                </Data>
                <Notes>
                  <ObjectNote name="r{RACK}_p{POSITION}_Table_UNI_{CHANNEL}">Initialization table of UNI channel mode</ObjectNote>
                  <ObjectNote name="r{RACK}_p{POSITION}_Module_UNI_{CHANNEL}">UNI_SC declaration</ObjectNote>
                </Notes>
                <Tags xmlns="http://www.tecomat.com"/>
              </Objects>
              <Interfaces/>
              <Editor/>
              <Network/>
            </Channel>
          </SerialChannels>
          <Ethernets/>
          <Piggybacks/>
          <Interfaces/>
          <Editor/>
        </Piggyback>
      </Piggybacks>
      <Interfaces>
        <Interface Class="TCL2" SubClass="INTERN" alias="Internal bus" rackOffset="0" busID="0" Icon="tcl2_interface" expanded="true">
          <Peripheries>
            <Device xmlns="http://www.tecomat.com" alias="CIB Master" rack="0" position="2" default="true" sw="2.5" tfw="2.5" hw="0.1" expanded="true" statLoc="%S102" validStat="A2">
              <Info>
                <ProductCode>1141</ProductCode>
                <ProductName>CF-1140</ProductName>
                <VendorID>00000000</VendorID>
                <DeviceGroup>CFM</DeviceGroup>
                <Descriptor>1141_CF-1140.tdd</Descriptor>
              </Info>
              <Objects xmlns="http://www.tecomat.com">
                <Aliases>
                  <ObjectAlias name="r{RACK}_p{POSITION}_CIB_STAT" public="false" publicAPI="false" userDef="true">INE_STAT_MI_CIB1</ObjectAlias>
                  <ObjectAlias name="r{RACK}_p{POSITION}_CIB_ERR" public="false" publicAPI="false" userDef="true">INE_ERR_MI_CIB1</ObjectAlias>
                </Aliases>
                <Notes>
                  <ObjectNote name="r{RACK}_p{POSITION}_CF_1140_init">Initialization table of CP-1140 unit</ObjectNote>
                </Notes>
                <Data/>
                <Tags xmlns="http://www.tecomat.com"/>
              </Objects>
              <SerialChannels/>
              <Ethernets/>
              <Piggybacks/>
              <Interfaces>
                <Interface Class="CIB" SubClass="UNDEF" rackOffset="0" busID="8" Icon="cib_interface" expanded="true">
                  <Peripheries>
                    <Device xmlns="http://www.tecomat.com" physAddr="9FD9" rack="8" position="0" logAddr="3" default="false" sw="1.1" tfw="1.1" hw="0.1" alias="C-IR-0303M-9FD9" statLoc="r0_p2_CIB_STAT[0]" validStat="87" errLoc="r0_p2_CIB_ERR[0]" enabled="true">
                      <Info>
                        <ProductCode>3360</ProductCode>
                        <ProductName>C-IR-0303M</ProductName>
                        <VendorID>00000000</VendorID>
                        <DeviceGroup>CFOX</DeviceGroup>
                        <Descriptor>3360_C-IR-0303M.tdd</Descriptor>
                      </Info>
                      <Objects xmlns="http://www.tecomat.com" inputsAddr="r0_p2_CIB_IN" outputsAddr="r0_p2_CIB_OUT" inputsLen="15" outputsLen="1">
                        <Data>
                          <ObjectData name="Devices.BinaryInputsOutputsDevice.DO1.HaltingState">01</ObjectData>
                          <ObjectData name="Devices.AnalogInput1Device.Enabled">01</ObjectData>
                          <ObjectData name="Devices.AnalogInput2Device.Enabled">01</ObjectData>
                          <ObjectData name="Devices.AnalogInput3Device.Enabled">01</ObjectData>
                          <ObjectData name="r{RACK}_p{POSITION}_C_IR_0303M_init.Dev[0].typdev">83</ObjectData>
                          <ObjectData name="r{RACK}_p{POSITION}_C_IR_0303M_init.Dev[0].bloko">01</ObjectData>
                          <ObjectData name="r{RACK}_p{POSITION}_C_IR_0303M_init.Dev[1].typdev">80</ObjectData>
                          <ObjectData name="r{RACK}_p{POSITION}_C_IR_0303M_init.Dev[2].typdev">80</ObjectData>
                          <ObjectData name="r{RACK}_p{POSITION}_C_IR_0303M_init.Dev[3].typdev">80</ObjectData>
                          <ObjectData name="r{RACK}_p{POSITION}_C_IR_0303M_init.Dev[4].typdev">80</ObjectData>
                          <ObjectData name="r{RACK}_p{POSITION}_C_IR_0303M_init.tPress">46</ObjectData>
                          <ObjectData name="r{RACK}_p{POSITION}_C_IR_0303M_init.ai1type">22</ObjectData>
                          <ObjectData name="r{RACK}_p{POSITION}_C_IR_0303M_init.ai2type">22</ObjectData>
                          <ObjectData name="r{RACK}_p{POSITION}_C_IR_0303M_init.ai3type">22</ObjectData>
                        </Data>
                        <Aliases>
                          <ObjectAlias name="r{RACK}_p{POSITION}_IN" public="false" publicAPI="false" userDef="false">C_IR_0303M_9FD9_IN</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_IN.AI1" public="false" publicAPI="false" userDef="true">WC_TEMPERATURE</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_IN.AI2" public="false" publicAPI="false" userDef="true">HALL_TEMPERATURE</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_OUT" public="false" publicAPI="false" userDef="false">C_IR_0303M_9FD9_OUT</ObjectAlias>
                        </Aliases>
                        <Notes/>
                        <Tags xmlns="http://www.tecomat.com"/>
                      </Objects>
                      <SerialChannels/>
                      <Ethernets/>
                      <Piggybacks/>
                      <Interfaces/>
                      <Editor xmlns="http://www.tecomat.com"/>
                    </Device>
                    <Device xmlns="http://www.tecomat.com" physAddr="9FDA" rack="8" position="1" logAddr="4" default="false" sw="1.1" tfw="1.1" hw="0.1" alias="C-IR-0303M-9FDA" statLoc="r0_p2_CIB_STAT[1]" validStat="87" errLoc="r0_p2_CIB_ERR[1]" enabled="true">
                      <Info>
                        <ProductCode>3360</ProductCode>
                        <ProductName>C-IR-0303M</ProductName>
                        <VendorID>00000000</VendorID>
                        <DeviceGroup>CFOX</DeviceGroup>
                        <Descriptor>3360_C-IR-0303M.tdd</Descriptor>
                      </Info>
                      <Objects xmlns="http://www.tecomat.com" inputsAddr="r0_p2_CIB_IN" outputsAddr="r0_p2_CIB_OUT" inputsLen="15" outputsLen="1">
                        <Data>
                          <ObjectData name="r{RACK}_p{POSITION}_C_IR_0303M_init.Dev[0].typdev">83</ObjectData>
                          <ObjectData name="r{RACK}_p{POSITION}_C_IR_0303M_init.Dev[1].typdev">80</ObjectData>
                          <ObjectData name="r{RACK}_p{POSITION}_C_IR_0303M_init.tPress">46</ObjectData>
                          <ObjectData name="r{RACK}_p{POSITION}_C_IR_0303M_init.ai1type">22</ObjectData>
                          <ObjectData name="r{RACK}_p{POSITION}_C_IR_0303M_init.ai2type">22</ObjectData>
                          <ObjectData name="r{RACK}_p{POSITION}_C_IR_0303M_init.ai3type">22</ObjectData>
                        </Data>
                        <Aliases>
                          <ObjectAlias name="r{RACK}_p{POSITION}_IN" public="false" publicAPI="false" userDef="false">C_IR_0303M_9FDA_IN</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_IN.DI.DI1" public="false" publicAPI="false" userDef="true">RAIN_DETECTOR_IN</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_OUT" public="false" publicAPI="false" userDef="false">C_IR_0303M_9FDA_OUT</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOs.DO1" public="false" publicAPI="false" userDef="true">BUSHES_WATERING_OUT</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOs.DO2" public="false" publicAPI="false" userDef="true">FRONT_GRASS_WATERING_OUT</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOs.DO3" public="false" publicAPI="false" userDef="true">REAR_GRASS_WATERING_OUT</ObjectAlias>
                        </Aliases>
                        <Notes/>
                        <Tags xmlns="http://www.tecomat.com"/>
                      </Objects>
                      <SerialChannels/>
                      <Ethernets/>
                      <Piggybacks/>
                      <Interfaces/>
                      <Editor xmlns="http://www.tecomat.com"/>
                    </Device>
                    <Device xmlns="http://www.tecomat.com" physAddr="9FDC" rack="8" position="2" logAddr="0" default="false" sw="1.1" tfw="1.1" hw="0.1" enabled="true" alias="C-IR-0303M-9FDC" statLoc="r0_p2_CIB_STAT[2]" validStat="87" errLoc="r0_p2_CIB_ERR[2]">
                      <Info>
                        <ProductCode>3360</ProductCode>
                        <ProductName>C-IR-0303M</ProductName>
                        <VendorID>00000000</VendorID>
                        <DeviceGroup>CFOX</DeviceGroup>
                        <Descriptor>3360_C-IR-0303M.tdd</Descriptor>
                      </Info>
                      <Objects xmlns="http://www.tecomat.com" inputsAddr="r0_p2_CIB_IN" outputsAddr="r0_p2_CIB_OUT" inputsLen="15" outputsLen="1">
                        <Data>
                          <ObjectData name="r{RACK}_p{POSITION}_C_IR_0303M_init.Dev[0].typdev">83</ObjectData>
                          <ObjectData name="r{RACK}_p{POSITION}_C_IR_0303M_init.Dev[1].typdev">80</ObjectData>
                          <ObjectData name="r{RACK}_p{POSITION}_C_IR_0303M_init.tPress">46</ObjectData>
                          <ObjectData name="r{RACK}_p{POSITION}_C_IR_0303M_init.ai1type">22</ObjectData>
                          <ObjectData name="r{RACK}_p{POSITION}_C_IR_0303M_init.ai2type">22</ObjectData>
                          <ObjectData name="r{RACK}_p{POSITION}_C_IR_0303M_init.ai3type">22</ObjectData>
                        </Data>
                        <Aliases>
                          <ObjectAlias name="r{RACK}_p{POSITION}_IN" public="false" publicAPI="false" userDef="false">C_IR_0303M_9FDC_IN</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_OUT" public="false" publicAPI="false" userDef="false">C_IR_0303M_9FDC_OUT</ObjectAlias>
                        </Aliases>
                        <Notes/>
                        <Tags xmlns="http://www.tecomat.com"/>
                      </Objects>
                      <SerialChannels/>
                      <Ethernets/>
                      <Piggybacks/>
                      <Interfaces/>
                      <Editor xmlns="http://www.tecomat.com"/>
                    </Device>
                    <Device xmlns="http://www.tecomat.com" physAddr="F62C" rack="8" position="3" logAddr="0" default="false" sw="1.6" tfw="1.6" hw="0.3" alias="C-HM-1113M-F62C" statLoc="r0_p2_CIB_STAT[3]" validStat="87" errLoc="r0_p2_CIB_ERR[3]">
                      <Info>
                        <ProductCode>3310</ProductCode>
                        <ProductName>C-HM-1113M</ProductName>
                        <VendorID>00000000</VendorID>
                        <DeviceGroup>CFOX</DeviceGroup>
                        <Descriptor>3310_C-HM-1113M.tdd</Descriptor>
                      </Info>
                      <Objects xmlns="http://www.tecomat.com" inputsAddr="r0_p2_CIB_IN" outputsAddr="r0_p2_CIB_OUT" inputsLen="14" outputsLen="10">
                        <Aliases>
                          <ObjectAlias name="r{RACK}_p{POSITION}_IN" public="false" publicAPI="false" userDef="true">C_HM_1113M_F62C_IN</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_IN.AI.AI1" public="false" publicAPI="false" userDef="true">UPSTAIRS_BATH_TEMPERATURE</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_IN.AI.AI2" public="false" publicAPI="false" userDef="true">CHILDRENS_ROOM_1_TEMPERATURE</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_IN.DI.DI1" public="false" publicAPI="false" userDef="true">GARAGE_GATE_IN</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_IN.DI.DI2" public="false" publicAPI="false" userDef="true">MAJOR_STORAGE_LIGHTS_IN</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_IN.DI.DI3" public="false" publicAPI="false" userDef="true">MINOR_STORAGE_LIGHTS_IN</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_IN.DI.DI4" public="false" publicAPI="false" userDef="true">DOWNSTAIRS_BEDROOM_LIGHTS_IN</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_IN.DI.DI5" public="false" publicAPI="false" userDef="true">GATE_BALCONY_LIGHTS_IN</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_IN.DI.DI6" public="false" publicAPI="false" userDef="true">CHILDRENS_ROOM_2_LIGHTS_IN</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_IN.DI.DI7" public="false" publicAPI="false" userDef="true">CHILDRENS_ROOM_1_OUTER_LIGHTS_IN</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_IN.DI.DI8" public="false" publicAPI="false" userDef="true">CHILDRENS_ROOM_1_INNER_LIGHTS_IN</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_OUT" public="false" publicAPI="false" userDef="true">C_HM_1113M_F62C_OUT</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOs.DO1" public="false" publicAPI="false" userDef="true">OUTDOOR_LIGHTS_OUT</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOs.DO3" public="false" publicAPI="false" userDef="true">TERRACE_LIGHTS_OUT</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOs.DO4" public="false" publicAPI="false" userDef="true">GATE_BALCONY_LIGHTS_OUT</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOs.DO5" public="false" publicAPI="false" userDef="true">GARDEN_BALCONY_LIGHTS_OUT</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOs.DO6" public="false" publicAPI="false" userDef="true">DOWNSTAIRS_BEDROOM_LIGHTS_OUT</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOs.DO7" public="false" publicAPI="false" userDef="true">CHILDRENS_ROOM_2_LIGHTS_OUT</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOs.DO8" public="false" publicAPI="false" userDef="true">CHILDRENS_ROOM_1_INNER_LIGHTS_OUT</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOs.DO9" public="false" publicAPI="false" userDef="true">CHILDRENS_ROOM_1_OUTER_LIGHTS_OUT</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOs.DO10" public="false" publicAPI="false" userDef="true">CHILDRENS_ROOM_3_LIGHTS_OUT</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOs.DO11" public="false" publicAPI="false" userDef="true">BOILER_PLUG_OUT</ObjectAlias>
                        </Aliases>
                        <Notes>
                          <ObjectNote name="r{RACK}_p{POSITION}_C_HM_1113M_init">Initialization table of C-HM-1113M unit</ObjectNote>
                        </Notes>
                        <Data/>
                        <Tags xmlns="http://www.tecomat.com">
                          <Tag name="manual_mode">r8_p3_IN.STAT.ManMode</Tag>
                        </Tags>
                      </Objects>
                      <SerialChannels/>
                      <Ethernets/>
                      <Piggybacks/>
                      <Interfaces/>
                      <Editor/>
                    </Device>
                    <Device xmlns="http://www.tecomat.com" physAddr="F62D" rack="8" position="4" logAddr="1" default="false" sw="1.6" tfw="1.6" hw="0.3" alias="C-HM-1113M-F62D" statLoc="r0_p2_CIB_STAT[4]" validStat="87" errLoc="r0_p2_CIB_ERR[4]">
                      <Info>
                        <ProductCode>3310</ProductCode>
                        <ProductName>C-HM-1113M</ProductName>
                        <VendorID>00000000</VendorID>
                        <DeviceGroup>CFOX</DeviceGroup>
                        <Descriptor>3310_C-HM-1113M.tdd</Descriptor>
                      </Info>
                      <Objects xmlns="http://www.tecomat.com" inputsAddr="r0_p2_CIB_IN" outputsAddr="r0_p2_CIB_OUT" inputsLen="14" outputsLen="10">
                        <Aliases>
                          <ObjectAlias name="r{RACK}_p{POSITION}_IN" public="false" publicAPI="false" userDef="true">C_HM_1113M_F62D_IN</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_IN.AI.AI1" public="false" publicAPI="false" userDef="true">LIVING_ROOM_TEMPERATURE</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_IN.AI.AI2" public="false" publicAPI="false" userDef="true">CHILDRENS_ROOM_2_TEMPERATURE</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_IN.AI.AI3" public="false" publicAPI="false" userDef="true">CHILDRENS_ROOM_3_TEMPERATURE</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_IN.DI.DI1" public="false" publicAPI="false" userDef="true">GARDEN_BALCONY_LIGHTS_IN</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_IN.DI.DI2" public="false" publicAPI="false" userDef="true">CHILDRENS_ROOM_3_LIGHTS_IN</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_IN.DI.DI3" public="false" publicAPI="false" userDef="true">KITCHEN_LIGHTS_IN</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_IN.DI.DI4" public="false" publicAPI="false" userDef="true">KITCHEN_FURNITURE_LIGHTS_IN</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_IN.DI.DI5" public="false" publicAPI="false" userDef="true">DINING_ROOM_LIGHTS_IN</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_IN.DI.DI6" public="false" publicAPI="false" userDef="true">LIVING_ROOM_LIGHTS_IN</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_IN.DI.DI7" public="false" publicAPI="false" userDef="true">TERRACE_LIGHTS_IN</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_IN.DI.DI8" public="false" publicAPI="false" userDef="true">STAIRS_LIGHTS_IN</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_OUT" public="false" publicAPI="false" userDef="true">C_HM_1113M_F62D_OUT</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOs.DO1" public="false" publicAPI="false" userDef="true">KITCHEN_LIGHTS_OUT</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOs.DO2" public="false" publicAPI="false" userDef="true">DINING_ROOM_LIGHTS_OUT</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOs.DO3" public="false" publicAPI="false" userDef="true">LIVING_ROOM_LIGHTS_OUT</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOs.DO4" public="false" publicAPI="false" userDef="true">HALLWAY_LIGHTS_OUT</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOs.DO5" public="false" publicAPI="false" userDef="true">DOWNSTAIRS_BATH_MAJOR_LIGHTS_OUT</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOs.DO6" public="false" publicAPI="false" userDef="true">BOILER_LIGHTS_OUT</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOs.DO7" public="false" publicAPI="false" userDef="true">UPSTAIRS_BATH_MIRROR_LIGHTS_OUT</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOs.DO8" public="false" publicAPI="false" userDef="true">UPSTAIRS_BATH_MAJOR_LIGHTS_OUT</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOs.DO9" public="false" publicAPI="false" userDef="true">UPSTAIRS_BATH_SHOWER_LIGHTS_OUT</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOs.DO10" public="false" publicAPI="false" userDef="true">UPSTAIRS_WC_LIGHTS_OUT</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOs.DO11" public="false" publicAPI="false" userDef="true">DOWNSTAIRS_BATH_PROGAMOZHATO_PLUG</ObjectAlias>
                        </Aliases>
                        <Notes>
                          <ObjectNote name="r{RACK}_p{POSITION}_C_HM_1113M_init">Initialization table of C-HM-1113M unit</ObjectNote>
                        </Notes>
                        <Data/>
                        <Tags xmlns="http://www.tecomat.com">
                          <Tag name="manual_mode">r8_p4_IN.STAT.ManMode</Tag>
                        </Tags>
                      </Objects>
                      <SerialChannels/>
                      <Ethernets/>
                      <Piggybacks/>
                      <Interfaces/>
                      <Editor/>
                    </Device>
                    <Device xmlns="http://www.tecomat.com" physAddr="F62E" rack="8" position="5" logAddr="2" default="false" sw="1.6" tfw="1.6" hw="0.3" alias="C-HM-1113M-F62E" statLoc="r0_p2_CIB_STAT[5]" validStat="87" errLoc="r0_p2_CIB_ERR[5]">
                      <Info>
                        <ProductCode>3310</ProductCode>
                        <ProductName>C-HM-1113M</ProductName>
                        <VendorID>00000000</VendorID>
                        <DeviceGroup>CFOX</DeviceGroup>
                        <Descriptor>3310_C-HM-1113M.tdd</Descriptor>
                      </Info>
                      <Objects xmlns="http://www.tecomat.com" inputsAddr="r0_p2_CIB_IN" outputsAddr="r0_p2_CIB_OUT" inputsLen="14" outputsLen="10">
                        <Aliases>
                          <ObjectAlias name="r{RACK}_p{POSITION}_IN" public="false" publicAPI="false" userDef="true">C_HM_1113M_F62E_IN</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_IN.AI.AI1" public="false" publicAPI="false" userDef="true">DOWNSTAIRS_BATH_TEMPERATURE</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_IN.AI.AI2" public="false" publicAPI="false" userDef="true">BEDROOM_TEMPERATURE</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_IN.AI.AI3" public="false" publicAPI="false" userDef="true">GARAGE_TEMPERATURE</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_IN.DI.DI1" public="false" publicAPI="false" userDef="true">HALLWAY_LIGHTS_IN</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_IN.DI.DI2" public="false" publicAPI="false" userDef="true">BOILER_LIGHTS_IN</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_OUT" public="false" publicAPI="false" userDef="true">C_HM_1113M_F62E_OUT</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOs.DO1" public="false" publicAPI="false" userDef="true">MAJOR_STORAGE_LIGHTS_OUT</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOs.DO2" public="false" publicAPI="false" userDef="true">DOWNSTAIRS_BATH_SHOWER_LIGHTS_OUT</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOs.DO3" public="false" publicAPI="false" userDef="true">MINOR_STORAGE_LIGHTS_OUT</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOs.DO4" public="false" publicAPI="false" userDef="true">HALL_LIGHTS_OUT</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOs.DO5" public="false" publicAPI="false" userDef="true">BOILER_PUMP_PLUG_RIGHT</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOs.DO6" public="false" publicAPI="false" userDef="true">KITCHEN_FURNITURE_LIGHTS_OUT</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOs.DO7" public="false" publicAPI="false" userDef="true">BOILER_PUMP_PLUG_LEFT</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOs.DO8" public="false" publicAPI="false" userDef="true">GARAGE_LIGHTS_OUT</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOs.DO9" public="false" publicAPI="false" userDef="true">STORAGE_PUMP</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOs.DO10" public="false" publicAPI="false" userDef="true">EXHAUST_FAN_OUT</ObjectAlias>
                          <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOs.DO11" public="false" publicAPI="false" userDef="true">UPSTAIRS_BATH_TimerABLE_PLUG</ObjectAlias>
                        </Aliases>
                        <Notes>
                          <ObjectNote name="r{RACK}_p{POSITION}_C_HM_1113M_init">Initialization table of C-HM-1113M unit</ObjectNote>
                        </Notes>
                        <Data/>
                        <Tags xmlns="http://www.tecomat.com">
                          <Tag name="manual_mode">r8_p5_IN.STAT.ManMode</Tag>
                        </Tags>
                      </Objects>
                      <SerialChannels/>
                      <Ethernets/>
                      <Piggybacks/>
                      <Interfaces/>
                      <Editor/>
                    </Device>
                  </Peripheries>
                </Interface>
              </Interfaces>
              <Editor/>
            </Device>
            <Device xmlns="http://www.tecomat.com" alias="CIB Master" rack="0" position="3" default="true" sw="2.5" tfw="2.5" hw="0.1" expanded="true" statLoc="%S103" validStat="A2">
              <Info>
                <ProductCode>1141</ProductCode>
                <ProductName>CF-1140</ProductName>
                <VendorID>00000000</VendorID>
                <DeviceGroup>CFM</DeviceGroup>
                <Descriptor>1141_CF-1140.tdd</Descriptor>
              </Info>
              <Objects xmlns="http://www.tecomat.com">
                <Aliases>
                  <ObjectAlias name="r{RACK}_p{POSITION}_CIB_STAT" public="false" publicAPI="false" userDef="true">INE_STAT_MI_CIB2</ObjectAlias>
                  <ObjectAlias name="r{RACK}_p{POSITION}_CIB_ERR" public="false" publicAPI="false" userDef="true">INE_ERR_MI_CIB2</ObjectAlias>
                </Aliases>
                <Notes>
                  <ObjectNote name="r{RACK}_p{POSITION}_CF_1140_init">Initialization table of CP-1140 unit</ObjectNote>
                </Notes>
                <Data/>
                <Tags xmlns="http://www.tecomat.com"/>
              </Objects>
              <SerialChannels/>
              <Ethernets/>
              <Piggybacks/>
              <Interfaces>
                <Interface Class="CIB" SubClass="UNDEF" rackOffset="1" busID="9" Icon="cib_interface">
                  <Peripheries/>
                </Interface>
              </Interfaces>
              <Editor/>
            </Device>
            <Device xmlns="http://www.tecomat.com" rack="0" position="5" default="true" sw="1.3" tfw="1.3" hw="0.1" statLoc="%S105" validStat="A2" enabled="true">
              <Info>
                <ProductCode>1061</ProductCode>
                <ProductName>IR-1061</ProductName>
                <VendorID>00000000</VendorID>
                <DeviceGroup>IO</DeviceGroup>
                <Descriptor>1061_IR-1061.tdd</Descriptor>
              </Info>
              <Objects xmlns="http://www.tecomat.com">
                <Data>
                  <ObjectData name="Analog_Inputs.AI0.Enabled">01</ObjectData>
                  <ObjectData name="Analog_Inputs.AI0.Mode">22</ObjectData>
                  <ObjectData name="Analog_Inputs.AI0.Filter">01</ObjectData>
                  <ObjectData name="Analog_Inputs.AI0.Value">000000000000F03F</ObjectData>
                  <ObjectData name="Power.EUCIB1">01</ObjectData>
                  <ObjectData name="Power.EUCIB2">01</ObjectData>
                  <ObjectData name="Power.EUSRC">01</ObjectData>
                  <ObjectData name="Power.EUACU">01</ObjectData>
                  <ObjectData name="r{RACK}_p{POSITION}_Table.EAI[0].ESTAT">80</ObjectData>
                  <ObjectData name="r{RACK}_p{POSITION}_Table.EAI[0].EENG">80</ObjectData>
                  <ObjectData name="r{RACK}_p{POSITION}_Table.EUCIB1">80</ObjectData>
                  <ObjectData name="r{RACK}_p{POSITION}_Table.EUCIB2">80</ObjectData>
                  <ObjectData name="r{RACK}_p{POSITION}_Table.EUSRC">80</ObjectData>
                  <ObjectData name="r{RACK}_p{POSITION}_Table.EUACU">80</ObjectData>
                  <ObjectData name="r{RACK}_p{POSITION}_Table.SetAI[0].Mode">22</ObjectData>
                  <ObjectData name="r{RACK}_p{POSITION}_Table.SetAI[0].Filter">0A</ObjectData>
                </Data>
                <Aliases>
                  <ObjectAlias name="r{RACK}_p{POSITION}_AI0.ENG" public="false" publicAPI="false" userDef="true">EXTERNAL_TEMPERATURE</ObjectAlias>
                  <ObjectAlias name="r{RACK}_p{POSITION}_DO.DO0" public="false" publicAPI="false" userDef="true">GARAGE_GATE_OUT</ObjectAlias>
                </Aliases>
                <Notes>
                  <ObjectNote name="r{RACK}_p{POSITION}_Table">Initialization table of IR-1061 device</ObjectNote>
                  <ObjectNote name="r{RACK}_p{POSITION}_Module">IR-1061 device declaration</ObjectNote>
                </Notes>
                <Tags xmlns="http://www.tecomat.com"/>
              </Objects>
              <SerialChannels/>
              <Ethernets/>
              <Piggybacks/>
              <Interfaces/>
              <Editor xmlns="http://www.tecomat.com">
                <ExpansionMaps>
                  <ExpansionMap name="Analog_Inputs">11000</ExpansionMap>
                </ExpansionMaps>
              </Editor>
            </Device>
          </Peripheries>
        </Interface>
        <Interface Class="TCL2" SubClass="EXTERN" rackSize="4" alias="External bus" rackOffset="0" busID="0" Icon="tcl2_interface" expanded="true">
          <Peripheries>
            <Device xmlns="http://www.tecomat.com" rack="1" position="0" default="false" sw="2.7" tfw="2.7" hw="0.5" statLoc="%S116" validStat="A2">
              <Info>
                <ProductCode>1301</ProductCode>
                <ProductName>IB-1301</ProductName>
                <VendorID>00000000</VendorID>
                <DeviceGroup>IO</DeviceGroup>
                <Descriptor>1301_IB-1301.tdd</Descriptor>
              </Info>
              <Objects xmlns="http://www.tecomat.com">
                <Aliases>
                  <ObjectAlias name="r{RACK}_p{POSITION}_IN.DIS.DI0" public="false" publicAPI="false" userDef="true">FLOW_SWITCH_IN</ObjectAlias>
                  <ObjectAlias name="r{RACK}_p{POSITION}_IN.DIS.DI1" public="false" publicAPI="false" userDef="true">DOWNSTAIRS_BATH_MAJOR_LIGHTS_IN</ObjectAlias>
                  <ObjectAlias name="r{RACK}_p{POSITION}_IN.DIS.DI2" public="false" publicAPI="false" userDef="true">DOWNSTAIRS_BATH_SHOWER_LIGHTS_IN</ObjectAlias>
                  <ObjectAlias name="r{RACK}_p{POSITION}_IN.DIS.DI3" public="false" publicAPI="false" userDef="true">KERINTGETES_SWITCH_IN</ObjectAlias>
                  <ObjectAlias name="r{RACK}_p{POSITION}_IN.DIS.DI4" public="false" publicAPI="false" userDef="true">EXHAUST_FAN_IN</ObjectAlias>
                  <ObjectAlias name="r{RACK}_p{POSITION}_IN.DIS.DI5" public="false" publicAPI="false" userDef="true">UPSTAIRS_BATH_MAJOR_LIGHTS_IN</ObjectAlias>
                  <ObjectAlias name="r{RACK}_p{POSITION}_IN.DIS.DI6" public="false" publicAPI="false" userDef="true">UPSTAIRS_BATH_MIRROR_LIGHTS_IN</ObjectAlias>
                  <ObjectAlias name="r{RACK}_p{POSITION}_IN.DIS.DI7" public="false" publicAPI="false" userDef="true">UPSTAIRS_WC_VIALGITAS_IN</ObjectAlias>
                  <ObjectAlias name="r{RACK}_p{POSITION}_IN.DIS.DI8" public="false" publicAPI="false" userDef="true">UPSTAIRS_BATH_SHOWER_LIGHTS_IN</ObjectAlias>
                  <ObjectAlias name="r{RACK}_p{POSITION}_IN.DIS.DI9" public="false" publicAPI="false" userDef="true">OUTDOOR_LIGHTS_IN</ObjectAlias>
                  <ObjectAlias name="r{RACK}_p{POSITION}_IN.DIS.DI10" public="false" publicAPI="false" userDef="true">HALL_LIGHTS_IN</ObjectAlias>
                  <ObjectAlias name="r{RACK}_p{POSITION}_IN.DIS.DI11" public="false" publicAPI="false" userDef="true">GARAGE_LIGHTS_IN</ObjectAlias>
                </Aliases>
                <Notes>
                  <ObjectNote name="r{RACK}_p{POSITION}_Table">Initialization table of IB-1301 module</ObjectNote>
                  <ObjectNote name="r{RACK}_p{POSITION}_ModulE1">IB-1301 module declaration</ObjectNote>
                </Notes>
                <Data/>
                <Tags xmlns="http://www.tecomat.com"/>
              </Objects>
              <SerialChannels/>
              <Ethernets/>
              <Piggybacks/>
              <Interfaces/>
              <Editor/>
            </Device>
            <Device xmlns="http://www.tecomat.com" rack="1" position="1" default="false" sw="2.7" tfw="2.7" hw="0.5" statLoc="%S117" validStat="A2">
              <Info>
                <ProductCode>1401</ProductCode>
                <ProductName>OS-1401</ProductName>
                <VendorID>00000000</VendorID>
                <DeviceGroup>IO</DeviceGroup>
                <Descriptor>1401_OS-1401.tdd</Descriptor>
              </Info>
              <Objects xmlns="http://www.tecomat.com">
                <Aliases>
                  <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOS.DO4" public="false" publicAPI="false" userDef="true">BEDROOM_TERMOFEJ</ObjectAlias>
                  <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOS.DO5" public="false" publicAPI="false" userDef="true">LIVING_ROOM_1_TERMOFEJ</ObjectAlias>
                  <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOS.DO6" public="false" publicAPI="false" userDef="true">LIVING_ROOM_2_TERMOFEJ</ObjectAlias>
                  <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOS.DO7" public="false" publicAPI="false" userDef="true">LIVING_ROOM_3_TERMOFEJ</ObjectAlias>
                  <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOS.DO8" public="false" publicAPI="false" userDef="true">DOWNSTAIRS_BATH_TERMOFEJ</ObjectAlias>
                  <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOS.DO9" public="false" publicAPI="false" userDef="true">ELOSZABA_TERMOFEJ</ObjectAlias>
                  <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOS.DO10" public="false" publicAPI="false" userDef="true">GARAGE_TERMOFEJ</ObjectAlias>
                </Aliases>
                <Notes>
                  <ObjectNote name="r{RACK}_p{POSITION}_Table">Initialization table of OS-1401 module</ObjectNote>
                  <ObjectNote name="r{RACK}_p{POSITION}_ModulE1">OS-1401 module declaration</ObjectNote>
                </Notes>
                <Data/>
                <Tags xmlns="http://www.tecomat.com"/>
              </Objects>
              <SerialChannels/>
              <Ethernets/>
              <Piggybacks/>
              <Interfaces/>
              <Editor/>
            </Device>
            <Device xmlns="http://www.tecomat.com" rack="1" position="2" default="false" sw="2.7" tfw="2.7" hw="0.5" statLoc="%S118" validStat="A2">
              <Info>
                <ProductCode>1401</ProductCode>
                <ProductName>OS-1401</ProductName>
                <VendorID>00000000</VendorID>
                <DeviceGroup>IO</DeviceGroup>
                <Descriptor>1401_OS-1401.tdd</Descriptor>
              </Info>
              <Objects xmlns="http://www.tecomat.com">
                <Aliases>
                  <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOS.DO4" public="false" publicAPI="false" userDef="true">CHILDRENS_ROOM_3_TERMOFEJ</ObjectAlias>
                  <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOS.DO5" public="false" publicAPI="false" userDef="true">CHILDRENS_ROOM_1_TERMOFEJ</ObjectAlias>
                  <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOS.DO6" public="false" publicAPI="false" userDef="true">HALLWAY_TERMOFEJ</ObjectAlias>
                  <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOS.DO7" public="false" publicAPI="false" userDef="true">CHILDRENS_ROOM_2_TERMOFEJ</ObjectAlias>
                  <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOS.DO8" public="false" publicAPI="false" userDef="true">BOILER_TERMOFEJ</ObjectAlias>
                  <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOS.DO9" public="false" publicAPI="false" userDef="true">UPSTAIRS_BATH_TERMOFEJ</ObjectAlias>
                  <ObjectAlias name="r{RACK}_p{POSITION}_OUT.DOS.DO10" public="false" publicAPI="false" userDef="true">WC_TERMOFEJ</ObjectAlias>
                </Aliases>
                <Notes>
                  <ObjectNote name="r{RACK}_p{POSITION}_Table">Initialization table of OS-1401 module</ObjectNote>
                  <ObjectNote name="r{RACK}_p{POSITION}_ModulE1">OS-1401 module declaration</ObjectNote>
                </Notes>
                <Data/>
                <Tags xmlns="http://www.tecomat.com"/>
              </Objects>
              <SerialChannels/>
              <Ethernets/>
              <Piggybacks/>
              <Interfaces/>
              <Editor/>
            </Device>
            <Device xmlns="http://www.tecomat.com" rack="1" position="9" default="false" sw="1.1" tfw="1.1" hw="0.1" statLoc="%S125" validStat="A2">
              <Info>
                <ProductCode>1204</ProductCode>
                <ProductName>UC-1204</ProductName>
                <VendorID>00000000</VendorID>
                <DeviceGroup>IO</DeviceGroup>
                <Descriptor>1204_UC-1204.tdd</Descriptor>
              </Info>
              <Objects xmlns="http://www.tecomat.com">
                <Aliases>
                  <ObjectAlias name="r{RACK}_p{POSITION}_IN" public="false" publicAPI="false" userDef="true">OPENTHERM_IN</ObjectAlias>
                  <ObjectAlias name="r{RACK}_p{POSITION}_IN.MSG_TYPE" public="false" publicAPI="false" userDef="true">READ_MSG_FEEDBACK</ObjectAlias>
                  <ObjectAlias name="r{RACK}_p{POSITION}_OUT" public="false" publicAPI="false" userDef="true">OPENTHERM_OUT</ObjectAlias>
                </Aliases>
                <Data>
                  <ObjectData name="r{RACK}_p{POSITION}_Table.MODE">01</ObjectData>
                </Data>
                <Notes>
                  <ObjectNote name="r{RACK}_p{POSITION}_ModulE1">UC-1204 device declaration</ObjectNote>
                </Notes>
                <Tags xmlns="http://www.tecomat.com"/>
              </Objects>
              <SerialChannels/>
              <Ethernets/>
              <Piggybacks/>
              <Interfaces/>
              <Editor/>
            </Device>
          </Peripheries>
        </Interface>
        <Interface Class="RF2" SubClass="UNDEF" alias="RFox2 bus" rackOffset="0" busID="40" Icon="rf2_interface" ChannelRefOnly="true" DevGroupRefOnly="RFM2">
          <Peripheries/>
        </Interface>
      </Interfaces>
      <Editor/>
    </Device>
    <Global>
      <Editor left="862" top="-878" width="1290" height="780" maximized="false">
        <ProcessData AliasColWidth="222" NoteColWidth="170"/>
      </Editor>
      <Selector left="-85" top="-916" width="1003" height="713" maximized="false" params="0"/>
    </Global>
  </Configuration>
</TecoConfiguration>
